<div class="modal-header">
    <h4 class="modal-title"> <i class="fa fa-desktop" aria-hidden="true"></i> New snapshot</h4>
</div>
 <div class="modal-body">
   <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Enter name of snapshot" ng-model="snapshotData.name" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="snapshotData.stateful"> Stateful
          </label>
        </div>
    </div>
 </div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
